<mat-toolbar color="primary" class="mat_toobar">
  <div>Resu</div>
  <div>
      <span>About Me</span>
      <span>Angular 9</span>
      <span>Hackaton</span>
      <span>Contact Us</span>
  </div>
</mat-toolbar>
