<section>
    <mat-icon color="primary" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
    <mat-icon color="accent" aria-hidden="false" aria-label="Example gavel icon">gavel</mat-icon>
    <mat-icon color="warm" aria-hidden="false" aria-label="Example important_devices icon">important_devices</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example settings_bluetooth icon">settings_bluetooth</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example table_view icon">table_view</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example work_off icon">work_off</mat-icon>
    <mat-icon aria-hidden="false" aria-label="Example games icon">games</mat-icon>
</section>