<mat-sidenav-container>
    <mat-sidenav #sidenav [(opened)]="opened" mode="side" (opened)="log('opened')">
        Sidenav
    </mat-sidenav>
    <mat-sidenav-content>
        Main
        <button (click)="opened=!opened">Toggle Sidenav</button>
        <button (click)="sidenav.open()">Open Sidenav</button>
        <button (click)="sidenav.close()">Close Sidenav</button>
    </mat-sidenav-content>
</mat-sidenav-container>